<div class="row">
    <h3 class="center align">Editar Productos</h3>
    <article class="col s6 offset-a3">
        <form [formGroup]= "fgValidador" (ngSubmit)="EditarProducto()" method="POST" action="">
            <input type="hidden" formControlName="id" />
            <div class="input-field">
                <label for="nombre" class="active" >Nombre</label>
                <input formControlName="nombre" type="text" name="nombre" required>

            </div>
            <div class="input-field">
                <label for="precio" class="active" >Precio</label>
                <input formControlName="precio" type="number" name="precio" required>
            </div>
            <div class="input-field">
                <label for="imagen" class="active" >Imagen</label>
                <input formControlName="imagen"type="text" name="imagen" required>
            </div>
            <p class="center-align">
                <button [disabled]="!fgValidador.valid"class="waves-effect waves-light btn" type="submit"><i
                    class="material-icons right">send</i>Enviar</button>
                </p>     
                
        </form>
    </article>

</div>