<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">INICIO</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="seInicioSesion" ><a routerLink="/administracion/personas">Personas</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/administracion/listar-productos">Productos</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/seguridad/cambio-clave">Cambio de Clave</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
      <li *ngIf="!seInicioSesion" ><a routerLink="/seguridad/identificacion">Iniciar Sesion</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="seInicioSesion" ><a routerLink="/administracion/personas">Personas</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/administracion/listar-productos">Productos</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/seguridad/cambio-clave">Cambio de Clave</a></li>
      <li *ngIf="seInicioSesion" ><a routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
      <li *ngIf="!seInicioSesion" ><a routerLink="/seguridad/identificacion">Iniciar Sesion</a></li>
</ul>