<h4 align="center">Login Usuario</h4>

<body ng-app="mainModule" ng-controller="mainController">
    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
          <form class="login-form" [formGroup]="fgValidador" (ngSubmit)="IdentificarUsuario()">
            <div class="row">
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mail_outline</i>
                <input class="validate" id="txtcorreo" type="email" formControlName="usuario">
                <label for="txtcorreo" data-error="wrong" data-success="right">Correo Electrónico</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="txtcontrasena" type="password" formControlName="clave">
                <label for="txtcontrasena">Contraseña</label>
              </div>
            </div>
       
            <div class="row">
              <div class="input-field col s12">
                
                <button  [disabled]="!fgValidador.valid" class="btn waves-effect waves-light col s12" type="ngSubmit" name="action">Login
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small"><a href="#">Registrate ahora!</a></p>
              </div>
              <div class="input-field col s6 m6 l6">
                  <p class="margin right-align medium-small"><a href="#">Olvidaste tu contraseña?</a></p>
              </div>          
            </div>
    
          </form>
        </div>
      </div> </body>